In [1]:
import os

In [2]:
os.environ["MLFLOW_TRACKING_URI"] = 'http://localhost:8990'
os.environ["MLFLOW_EXPERIMENT_NAME"] = "Prueba_local"
os.environ["GIT_PYTHON_REFRESH"] = "quiet"

In [51]:
os.environ["MLFLOW_TRACKING_URI"]

'http://localhost:8990'

In [9]:
import mlflow
import pandas as pd
import numpy as np
import mlflow.pyfunc
from sklearn.model_selection import train_test_split

In [6]:
database_dir = 'c:\\database\\winedata\\'
file_name = 'winequality-red.csv'

In [7]:
data = pd.read_csv(database_dir + file_name, sep = ';')
data.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [10]:
# Split the data into training and test sets. (0.75, 0.25) split.
train, test = train_test_split(data)

In [11]:
# The predicted column is "quality" which is a scalar from [3, 9]
train_x = train.drop(["quality"], axis=1)
test_x = test.drop(["quality"], axis=1)
train_y = train[["quality"]]
test_y = test[["quality"]]

In [53]:
df = pd.read_csv('data/car.data', sep='\s', engine='python', header=None)

columns = ['buying', 'maint', 'doors', 'persons', 'lug-boot', 'safety', 'evaluation']

df.head()

df[columns] = df[0].str.split(',', expand=True)
df.drop(columns=[0], inplace=True)

df.head()

  buying  maint doors persons lug-boot safety evaluation
0  vhigh  vhigh     2       2    small    low      unacc
1  vhigh  vhigh     2       2    small    med      unacc
2  vhigh  vhigh     2       2    small   high      unacc
3  vhigh  vhigh     2       2      med    low      unacc
4  vhigh  vhigh     2       2      med    med      unacc

In [56]:
x = df[['buying', 'maint', 'doors', 'persons', 'lug-boot', 'safety', 'evaluation']]
y = df['evaluation']

In [57]:
train_x, test_x, train_y, test_y = train_test_split(x, y, random_state=29)

In [58]:
encoder = OneHotEncoder(handle_unknown='ignore')
X_encoded_test = encoder.fit_transform(test_x)
test_x_encoded = pd.DataFrame(X_encoded_test.toarray())

In [59]:
model_name = 'ModeloDeClasificacionPrimario'
version = "3"

model_version_uri = "models:/{model_name}/{version}".format(model_name=model_name, version=version)
model_version = mlflow.pyfunc.load_model(model_version_uri)
model_version

mlflow.pyfunc.loaded_model:
  artifact_path: SimpleClassification_Model
  flavor: mlflow.sklearn
  run_id: 85cac43164a544d9a89e71aac3cc195a

In [60]:
model_name = 'ModeloDeClasificacionPrimario'

model_staging_uri = "models:/{model_name}/staging".format(model_name=model_name)
model_staging = mlflow.pyfunc.load_model(model_staging_uri)
model_staging

mlflow.pyfunc.loaded_model:
  artifact_path: SimpleClassification_Model
  flavor: mlflow.sklearn
  run_id: 749c2db99eb54559b1d8256e7ae1fc0a

In [61]:
model_name = 'ModeloDeClasificacionPrimario'

model_production_uri = "models:/{model_name}/production".format(model_name=model_name)
model_production = mlflow.pyfunc.load_model(model_production_uri)
model_production

mlflow.pyfunc.loaded_model:
  artifact_path: SimpleClassification_Model
  flavor: mlflow.sklearn
  run_id: fea50e9a417e46a389118da04b9cbbd8

In [62]:
resultados_produccion = model_production.predict(test_x_encoded)

resultados_staging = model_staging.predict(test_x_encoded)

resultados_version_3 = model_version.predict(test_x_encoded)

In [63]:
my_array = np.transpose(np.array([resultados_produccion, resultados_staging, resultados_version_3]))

df = pd.DataFrame(my_array, columns = ['Produccion','Staging','Desarrollo'])

df.head(100)

   Produccion Staging Desarrollo
0       unacc     acc        acc
1       unacc     acc       good
2       unacc   unacc      unacc
3       unacc     acc      vgood
4       unacc     acc        acc
..        ...     ...        ...
95      unacc   unacc      unacc
96      unacc   unacc      unacc
97      unacc   unacc      unacc
98      unacc   unacc      unacc
99      unacc   unacc      unacc

[100 rows x 3 columns]